{% extends "partials/_layout.njk" %}
{% block content %}
    <main class="mdl-layout__content">
        {% include includePartial %}
        <div class="page-content">
            <!-- Your content goes here 
            {{ content | safe }}
-->
        </div>
    </main>
{% endblock %}