<div class="mdl-grid demo-content">

    <div class="container">
        <canvas id="canvas"></canvas>
    </div>
</div>

<button onclick="saveImage('canvas')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Download
    </button>
<div class="mdl-grid demo-content">

    <div class="container">
        <canvas id="canvasStacked"></canvas>
    </div>
</div>
<div class=buttonBar>
    <button onclick="refreshData()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Refresh Data
    </button>

</div>
<div class="mdl-grid demo-content">

    <div class="container">
        <canvas id="canvasPie"></canvas>
    </div>
</div>
<div class="mdl-grid demo-content">
    <div class="container">
        <canvas id="canvasLine"></canvas>
    </div>

</div>

<div class=buttonBar>
    <button onclick="refreshData()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Refresh Data
    </button>

</div>

</div>

<style>

.demo-content {
    width: 100%;
    margin-bottom: 25px;
}
.container {
    width: 90%;
}
</style>

<script src="js/Chart.min.js"></script>
<script src="js/util.js"></script>
<script src="js/loadChartjs.js"></script>