<div class="mdl-grid demo-content">

    <div class="wrapper">
        <div id="vis0"></div>
    </div>

</div>
<div class="mdl-grid demo-content">

    <div class="wrapper">
        <div id="vis1"></div>
    </div>

</div>

<div class="mdl-grid demo-content">

    <div class="wrapper">
        <div id="vis2"></div>
    </div>

</div>

<div class="mdl-grid demo-content">

    <div class="wrapper">
        <div id="vis3"></div>
    </div>

</div>
<style>

    .demo-content {
        width: 100%;
        margin-bottom: 25px;
    }
    .wrapper {
        display: flex;
        flex: wrap;
        order: row;
    }
</style>

<script src="js/rough-viz.js"></script>
<script src="js/util.js"></script>
<script src="js/loadRough.js"></script>

